n8n/workflows/strategy-signal.json
{
  "name": "strategy-signal",
  "nodes": [
    {
      "parameters": {
        "path": "strategy-signal",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{`\uD83D\uDCE5 n8n got: ${JSON.stringify($json)}`}}",
        "additionalFields": {}
      },
      "id": "Telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ { ok: true } }}",
        "responseCode": 200
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Telegram", "type": "main", "index": 0 } ] ] },
    "Telegram": { "main": [ [ { "node": "Respond", "type": "main", "index": 0 } ] ] }
  }
}
